<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="js/main.js" defer></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <title>Shop</title>
</head>
<body>
<div class="container">
    <div id="app">
    <div class="header">
        <button class="btn-cart" type="button" @click="isVisibleCart = !isVisibleCart">Корзина</button>
        <form action="#" method="post" class="search-form">
            <input type="text" class="search-field" v-model="searchLine">
            <button class="btn-search" type="submit" @click="filterGoods($event)">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <div class="div-cart" v-show="isVisibleCart">

            <div v-if="cartItems.length != 0">
                <div class="cart-item" v-for="item of cartItems">
                    <div class="cart-item-title">{{item.product_name}}</div>
                    <div class="cart-item-count">
                        <button class="btn-change-count" @click="decreaseItem(item)">-</button>
                        <span class="cart-item-count-span">{{item.count}}</span>
                        <button class="btn-change-count" @click="item.count++">+</button>
                    </div>
                    <div class="cart-item-cost">{{item.count * item.price}}</div>
                </div>
                <span class="cart-total">Итого:{{totalCost}}</span>
                <button class="btn-cart btn-clear" @click="cartItems = []">Очистить</button>
            </div>
            <div v-else class="no-goods">Товары не добавлены</div>

        </div>
    </div>
    <div class="content">
        <div class="products">
            <div class="product-item" v-for="product of products" :key="product.id_product"  v-show="product.visible">
                <img :src="imgCatalog" :alt="product.product_name">
                <div class="desc">
                    <h3>{{ product.product_name }}</h3>
                    <p>{{ product.price }}</p>
                    <button class="buy-btn" @click="addProduct(product)">Купить</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer">&copy;Все права защищены</div>
</div>
</body>
</html>